

@{
    ViewData["Title"] = "Add";
}

<style>
    #Texto1
    {
        text-align: justify;
        min-width: 200px;
        max-width: 1500px;
        padding: 15px;
        border-top: 1px black solid;
        border-bottom: 1px black solid;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Adicionar Pergunta</h1>
</div>
