@model IEnumerable<MVC_02.Models.Pergunta>

@{
    ViewData["Title"] = "Perguntas";
}

<style>
    #Texto1
    {
        text-align: justify;
        min-width: 200px;
        max-width: 1500px;
        padding: 15px;
        border-top: 1px black solid;
        border-bottom: 1px black solid;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Página das Perguntas</h1>
</div>

<div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Perguntas
                </th>
                <th>
                    Alternativa 1
                </th>
                <th>
                    Alternativa 2
                </th>
                <th>
                    Alternativa 3
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Perg)
                    </td>
                </tr>
                @foreach(var x in item.Alternativas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => x.Texto)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
